@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap:100,200,300,400,500,600,700');





*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
 
body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    background-size: cover;
}

.callout-container {
    background: url('../images/yoga-studio.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh - 80px);
    }


/*-------------- nav------ */

nav{
  background: #7FC2C2;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #fafafa;
}


.logo a:hover{
    background-color: #7FC2C2;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  color: #fafafa;
  background: rgb(88, 202, 202);
  transition: .5s;
  text-decoration: none;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1062px) {
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .checkbtn{
    display: block;
  }
  label.logo{
  font-size: 35px;
  }
  ul{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(88, 202, 202);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 30px;
  }
  a:hover,a.active{
    background: none;
    color:#fff;
  }
  #check:checked ~ ul{
    left: 0;
  }
}


@media (max-width: 568px) {
    label.logo{
  color: white;
  font-size: 20px;
  line-height: 80px;
  padding: 0px;
  font-weight: bold;
    }
}
/* ------Main-Section------ */

div .position-static {
    position: static;
}

.sign-up {
background-image: linear-gradient(to bottom, #f5f5f5b3 0%, rgba(125, 185, 232, 0) 100%);
background-color: transparent;
}

.jumbotron h1 {
    color: #E1774B;
    font-weight: 500;
}

.lead {
    font-weight: 700;
}

.btn--orange {
    font-weight: bold;
    color: white;
    background-color: #E1774B;
    border-color: #E1774B;
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus {
    background-color: rgb(233, 95, 36);
    border-color: rgb(233, 95, 36);
    color: white;
    box-shadow: none;
}

/*--- feature --- */
@media (max-width: 1024px) {
    div.feature-container{
    padding-top: 50px;
   }
}


@media (max-width: 568px) {
    div.feature-container{
    padding-top: 275px;
   }
}

@media (max-width: 320px) {
     div.feature-container{
   padding-top: 63px;
   }
}

.feature-container h2 {
    color: teal;
    font-weight: bold;
    text-transform: uppercase;
}

.card-bg-color {
    background-image: linear-gradient(to bottom, #f5f5f5f2 0%, rgba(125, 185, 232, 0) 100%);
    background-color: transparent;
    padding: 0 30px 0 30px;
}

.card-body h5 {
    color: teal;
    font-weight: bold;
}

.block-divider {
    background-color: #E1774B;
    height: 2px;
    width: 60px;
    margin: auto;
}

p .card-text {
    font-weight: 500;
}

.btn--teal {
    color: white;
    background-color: teal;
    border-color: teal;
}

.btn--teal:hover,
.btn--teal:active,
.btn--teal:focus,
.btn--teal:active:focus {
    color: white;
    background-color: rgb(5, 175, 175);
    border-color: rgb(5, 175, 175);
    box-shadow: none;
}

/* About Section */

#about {
    height: 100vh;
}

@media (max-width: 568px) {
#about {
    padding-top:690px;
    }
}

.about-info {
    margin-top: 70px;
}


/* ---------------footer-------------- */


